.claude/

.idea/
.DS_Store
**/.DS_Store

node_modules

k8s/backend/secret.yaml
k8s/backend/configmap.yaml
k8s/db-statefulset.yaml
k8s/db-service.yaml
frontend/.env.development

docs/

# 배포
personal/*
personal
frontend/personal/
backend/src/main/resources/application-aws.yaml
backend/deploy.sh
backend/init-db.sh
frontend/deploy.sh
frontend/bash